<div class="reset-content">

  <div class="background-shapes">
    <div class="shape shape1"></div>
    <div class="shape shape2"></div>
    <div class="shape shape3"></div>
    <div class="shape shape4"></div>
    <div class="shape shape5"></div>
  </div>

  <div class="reset-container">

    <div class="reset-card">
      <h2 class="titulo-app">Panadería Delicias</h2>
      <h3 class="subtitulo">Restablecer contraseña</h3>

      <form [formGroup]="resetForm" (ngSubmit)="cambiarPassword()">

        <!-- Campo contraseña -->
        <div class="input-item">
          <label>Nueva contraseña</label>
          <input
            type="password"
            formControlName="nueva"
            placeholder="••••••••"
            [disabled]="loading"
          />
        </div>

        <p class="error-text" *ngIf="resetForm.get('nueva')?.touched && resetForm.get('nueva')?.invalid">
          Debe tener al menos 6 caracteres.
        </p>

        <!-- Botón -->
        <button
          class="btn-reset"
          type="submit"
          [disabled]="loading"
        >
          {{ loading ? 'Actualizando...' : 'Cambiar contraseña' }}
        </button>

        <!-- Mensaje -->
        <p class="mensaje" *ngIf="mensaje">{{ mensaje }}</p>

      </form>

      <div class="text-center text-white text-sm mt-6">
        <a routerLink="/Auth/login" class="recuperar-link">
          Volver al inicio de sesión
        </a>
      </div>
    </div>

  </div>

</div>
