@tailwind base;
@tailwind components;
@tailwind utilities;

    /* Oculta scrollbars (manual y 100% funcional) */
    .scrollbar-hide::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    display: none;
    }

    .scrollbar-hide {
    -ms-overflow-style: none;  /* IE y Edge */
    scrollbar-width: none;     /* Firefox */
    }

    html, body { height: 100%; }
    body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


    @layer utilities {
    .modo-impresion {
        @apply bg-white text-black;

        /* Estilos internos */
        table thead {
        @apply bg-white text-black;
        }

        table td, table th,p {
        @apply text-black border-black;
        }
    }
    }